body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  line-height: 2rem;

  background: linear-gradient(-45deg, #bd5e42, #c6336c, #1b80a5, #1ba283);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;

}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background: black;
}

.background video {
  height: 100%;
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.content {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  /* width: 50rem; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.5) 0 0 16px;
}

.about-content p {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* text-shadow: rgb(255, 255, 255, 0.5) 0px 0px 16px; */
  /* background-color: black; */
  /* height: 100%; */
}

main {
  /* font-size: 1.3rem; */
  /* max-width: 65ch; */
  padding: 3rem 1rem;
  margin-top: auto;
  margin-bottom: auto;
  /* margin: 0 auto; */
}

.surungen {
  font-size: 5rem;
  padding-bottom: 4rem;
}

main p {
  opacity: 0.7;
}

footer {
  padding: 0 2rem 3rem 2rem;
  font-size: 1.5rem;
}

footer .links {
  display: flex;
  gap: 5rem;
  justify-content: center;
}

h1 {
  font-size: 2rem;
  margin: 0;
  /* padding-bottom: 2rem; */
  font-weight: 100;
}

h2 {
  font-size: 1.8rem;
}

a {
  color: white;
  text-decoration: underline;
}

.intro {
  text-shadow: black 0 2px 2px;
}

#about-content {
  position: fixed;
  top: 1rem;
  height: 100vh;
  left: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  user-select: none;
  pointer-events: none;
}

#about-close, #about-link {
  cursor: pointer;
}

#about-close {
  text-decoration: none;
  border: 1px #444 solid;
  color: #888;
  height: 1.5rem;
  width: 1.5rem;
  line-height: 1.25rem;
  text-align: center;
}

#about-content.show {
  opacity: 1;
  user-select: auto;
  pointer-events: auto;
}

#about-content > div {
  max-width: 65ch;
  border-radius: 2rem;
  padding: 1rem 2rem;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
}

#about-content > div > :first-child {
  overflow-y: auto;
  max-height: 90vh;
}

#about-content > div > :last-child {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
